@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../scss/main.scss */
.container {
  height: 100vh;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 30, ../scss/main.scss */
section.service-header .service-header__nav-menu {
  height: 34.5px;
}
/* line 34, ../scss/main.scss */
section.service-header .service-header__search-bar {
  background-color: #333333;
  height: 36px;
}

/* line 41, ../scss/main.scss */
section.service-hero {
  height: 61px;
  background-color: #d8d8d8;
  background-image: url(../images/bg-welcome-hero.png);
}
/* line 46, ../scss/main.scss */
section.service-hero .service-hero__content {
  padding-top: 18.4px;
  text-align: center;
  height: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  color: #adadad;
}
/* line 59, ../scss/main.scss */
section.service-hero .service-hero__content--highlight {
  color: #e11e25;
}

/* line 66, ../scss/main.scss */
section.service-home {
  text-align: center;
}
/* line 69, ../scss/main.scss */
section.service-home .service-home__nlf-input {
  padding-top: 35.1px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.67;
  color: #4a4a4a;
}
/* line 80, ../scss/main.scss */
section.service-home .service-home__nlf-input p {
  margin: 0 auto;
  width: 360px;
}
/* line 86, ../scss/main.scss */
section.service-home .service-home__nlf-input select {
  font-size: 24px;
  border: none;
  color: #b14943;
  cursor: pointer;
  text-decoration: underline;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
}
/* line 96, ../scss/main.scss */
section.service-home .service-home__nlf-input select:active, section.service-home .service-home__nlf-input select:focus {
  outline: none;
  background-color: #e11e25;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  color: #eaeaea;
  padding: 0 10px;
}
/* line 112, ../scss/main.scss */
section.service-home .service-home__nlf-button button {
  margin-top: 20px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 2px;
  background-color: #e11e25;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}

/* line 129, ../scss/main.scss */
.service-home__divider-line {
  margin: 0 auto;
  margin-top: 35px;
  width: 268.5px;
  height: 1.5px;
  border: solid 0.5px #b1b1b1;
}

/* line 137, ../scss/main.scss */
.service-home--flex,
.service-footer--flex {
  display: flex;
  margin: 0 auto;
  width: 360px;
}

/* line 144, ../scss/main.scss */
.service-home__solution-submit {
  text-align: center;
  width: 118.5px;
  margin: 0 auto;
  margin-top: 32.5px;
}
/* line 151, ../scss/main.scss */
.service-home__solution-submit .service-home__solution-icon img {
  width: 48px;
  height: 45.5px;
}
/* line 158, ../scss/main.scss */
.service-home__solution-submit .service-home__solution-links a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  line-height: 2.54;
  color: #4a4a4a;
}

/* line 171, ../scss/main.scss */
.service-home__win-submit {
  text-align: center;
  width: 147px;
  margin: 0 auto;
  margin-top: 33.5px;
  margin-left: 66.5px;
}
/* line 179, ../scss/main.scss */
.service-home__win-submit .service-home__win-icon img {
  width: 45.5px;
  height: 45.5px;
}
/* line 186, ../scss/main.scss */
.service-home__win-submit .service-home__win-links a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-rendering: optimizeLegibility;
  line-height: 2.54;
  color: #4a4a4a;
}

/* line 200, ../scss/main.scss */
section.service-footer {
  margin-top: 163.5px;
  height: 230px;
  background-color: #333333;
  line-height: 2.07;
  padding-top: 47px;
}
/* line 207, ../scss/main.scss */
section.service-footer .service-footer__group-1 {
  width: 54px;
}
/* line 211, ../scss/main.scss */
section.service-footer .service-footer__group-2 {
  margin-left: 50px;
  width: 47px;
}
/* line 216, ../scss/main.scss */
section.service-footer .service-footer__group-3 {
  margin-left: 50px;
  width: 60px;
}
/* line 221, ../scss/main.scss */
section.service-footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #dfdfdf;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}
/* line 231, ../scss/main.scss */
section.service-footer a:active, section.service-footer a:focus {
  outline: none;
}
