@import "compass";
@import "susy";
@import "compass/reset";
@import "partials/variables";
@import "partials/mixins";

// set up a grid
$susy: (
  columns: 16,
  // debug: (image: show),
  global-box-sizing: border-sizing
);

// measure to border box
@include border-box-sizing;

// set up container view
.container {
  height: 100vh;
  @include container($container-width);
}

// service fonts
@include google-font("Open+Sans:300");


/////////////service now custom
section.service-header {
  
  .service-header__nav-menu {
    height: 34.5px;
  }
  
  .service-header__search-bar {
    background-color: $service-color-background-footer;
    height: 36px;
  }
}


section.service-hero {
  height: 61px;
  background-color: $hero-color-background;
  background-image: url(../images/bg-welcome-hero.png);

  .service-hero__content {
    padding-top: 18.4px;
    text-align: center;
    height: 15px;
    font-family: $text-font;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    color: $hero-color;  
  }

  .service-hero__content--highlight {
    color: $hero-color-highlight;
  }
}



section.service-home {
    text-align: center;

  .service-home__nlf-input {
    padding-top: 35.1px;
    font-family: $text-font;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.67;
    color: $service-color;

    p {  
      margin: 0 auto;
      width: 360px;
      // width: 450px;
    }

    select {
      font-size: 24px;
      border: none;
      color:rgb(177, 73, 67);
      cursor:pointer;
      text-decoration: underline;
      -webkit-appearance:none;
      -webkit-rtl-ordering:logical;
      -webkit-border-image:none;
      
      &:active, &:focus {
            outline: none;
            background-color: #e11e25;
            font-family: "Open Sans", sans-serif;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            color: #eaeaea;
            padding: 0 10px;
      }

    }

  }

  .service-home__nlf-button button{
    margin-top: 20px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: $hero-color-highlight;
    font-family: $text-font;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    color: $service-color-button;    
  }
}

.service-home__divider-line {
  margin: 0 auto;
  margin-top: 35px;
  width: 268.5px;
  height: 1.5px;
  border: solid 0.5px $service-divider-line;
}

.service-home--flex,
.service-footer--flex {
  display: flex;
  margin: 0 auto;
  width: 360px;
}

.service-home__solution-submit {
  text-align: center;
  width: 118.5px;
  margin: 0 auto;
  margin-top: 32.5px;

  .service-home__solution-icon {
    img {
      width: 48px;
      height: 45.5px;
    }
  }
 
  .service-home__solution-links {
    a{
      font-family: $text-font;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-rendering: optimizeLegibility;
      line-height: 2.54;
      color: $service-color;
    }
  }
}

.service-home__win-submit {
  text-align: center;
  width: 147px;
  margin: 0 auto;
  margin-top: 33.5px;
  margin-left: 66.5px;

  .service-home__win-icon {
    img {
      width: 45.5px;
      height: 45.5px;
    }
  }
 
  .service-home__win-links {
    a{
      font-family: $text-font;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-rendering: optimizeLegibility;
      line-height: 2.54;
      color: $service-color;
    }
  }
}


section.service-footer {
  margin-top: 163.5px;
  height: 230px;
  background-color: $service-color-background-footer;
  line-height: 2.07;
  padding-top: 47px;
  
  .service-footer__group-1{
    width: 54px;
  }

  .service-footer__group-2{
    margin-left: 50px;
    width: 47px;
  }

  .service-footer__group-3{
    margin-left: 50px;
    width: 60px;
  }

  a {
    font-family: $text-font;
    font-size: 7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $service-color-footer;
    text-decoration: none;  
    text-rendering: optimizeLegibility;

    &:active, &:focus {
        outline: none;
    }
  }    


}
