<!doctype html>
<html lang="en" ng-app="serviceApp">
<head>
  <meta charset="utf-8">
  <title>Service Now Sketch</title>
  <link rel="stylesheet" href="css/main.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
  <script type="text/javascript" src="js/serviceData.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>


<body ng-controller="ServiceCtrl">
<div class="container">
  <section class="service-header">
    <div class="service-header__nav-menu">
      <img src="images/top.jpg" alt="jpg1">
    </div>
    <div class="service-header__search-bar">
    </div>
  </section>

  <!-- welcome user banner at the top of page -->
  <section class="service-hero">
    <div class="service-hero__content">
      <p>Welcome, <span class="service-hero__content--highlight">Cory!</span> What would you like to accomplish today?</p>
    </div>
  </section>

  <!-- main body nlf functions -->
  <section class="service-home">
   <div class="service-home__nlf-input">
          <div ng-switch="jData">
      <p>I need a  
          <select ng-model="jData">
          <option value="">any</option>
          <option value="jSolutions" selected>solution</option>
          <option value="jSolutionsWins">solution wins</option>
          </select>
            <span ng-switch-when="jSolutions">
            <span> for </span>
              <select ng-model="selectedjSolutions1" 
              ng-options="item.industry as item.industry for item in jSolutions">
                <option value="">any industry</option>
              </select><span> and </span>
              <select ng-model="selectedjSolutions2" 
              ng-options="item.product as item.product for item in jSolutions">
                <option value="">any product</option>
              </select>
            </span>
            <span ng-switch-when="jSolutionsWins">
            <span> for </span>
              <select ng-model="selectedjSolutions3" 
              ng-options="item.industry as item.industry for item in jSolutionsWins">
                <option value="">any industry</option>
              </select><span> and </span>
              <select ng-model="selectedjSolutions4" 
              ng-options="item.product as item.product for item in jSolutionsWins">
                <option value="">any product</option>
              </select>
            </span>
        </p>
          </div>
      </div>  

    <!-- main body search tool -->
<!--     <div class="service-home__nlf-input">
      <p>I need a solution for any industry and any product.</p>
    </div>  
     -->
     
    <!-- main search button -->
    <div class="service-home__nlf-button">
      <button>Find it!  
      </button>
    </div>

    <div class="service-home__divider-line">
    </div>

    <div class="service-home--flex">
        <!-- submit a solution block -->
        <div class="service-home__solution-submit">
          <div class="service-home__solution-icon">
            <img src="images/s1.svg" alt="svg1">
          </div>
          <div class="service-home__solution-links">
          <a href="#">Submit a Solution</a>
          <a href="#">View my Solutions</a>
          </div>
        </div>

        <!-- win a solution block -->
        <div class="service-home__win-submit">
          <div class="service-home__win-icon">
            <img src="images/s2.svg" alt="svg2">
          </div>
          <div class="service-home__win-links">
          <a href="#">Submit a Solution Win</a>
          <a href="#">View my Solution Wins</a>
          </div>
        </div>
    </div>
  </section>

  <!-- main footer links at the bottom of page -->
  <section class="service-footer">
    <div class="service-footer--flex">
      <div class="service-footer__group-1">
        <a href="#">Solutions</a>
        <a href="#">Solution Wins</a>
        <a href="#">People</a>
        <a href="#">Enablement</a>
      </div>
      <div class="service-footer__group-2">
        <a href="#">Standard View</a>
        <a href="#">Demo Center</a>
      </div>
      <div class="service-footer__group-3">
        <a href="#">Create an Incident</a>
      </div>
    </div>
  </section>
</div>
</body>
</html>