// COLORs
$hero-color: #adadad;  
$hero-color-background: #d8d8d8;
$hero-color-highlight: #e11e25;
$service-color: #4a4a4a;
$service-color-button: #ffffff;
$service-divider-line: #b1b1b1;
$service-color-footer: #dfdfdf;
$service-color-background-footer: #333333;


// FONTS
// $headline-font: "Titillium Web", Georgia, serif;
$text-font: 'Open Sans', sans-serif;



// SIZEs
$container-width: 960px;

// $header-height: 60px;
// $footer-height: 90px;

